* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

div img {
    display: block;
    width: 100%;
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #122A57;
    height: 100px;
    color: white;
}

header .list-items {
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;

}

.list-items li a {
    color: #fff;

}

.menu {
    justify-content: space-between;
    align-items: center;
}

.apresentacao {
    height: 80vh;
    align-items: center;
    justify-content: space-between;
}

.texto-apresentacao {
    min-width: 200px;



}

.texto-apresentacao h1 {
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn {
    background-color: #122A57;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    display: block;
    line-height: 50px;
    margin: 10px 0;

}

#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #122A57;

}

#quem-somos h2 {
    display: flex;
    font-size: 32px;
    color: #122A57;
    margin-bottom: 20px;
    align-items: center;
}

#quem-somos h2::before {
    height: 40px;
    width: 5px;
    content: "";
    margin-right: 5px;
    background-color: #122A57;
    position: relative;
}

#quem-somos p {
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img {
    min-width: 420px;
}

.container-externo {
    background-color: #122A57;
    width: 100%;
}

.container-externo img {
    width: 60;
}

#servicos {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;


}

#servicos h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 15px;
}

.list-servicos {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.item-servico {
    text-align: center;
    margin: 10px;
    color: #fff;
}

.item-servico a {
    width: 220px;
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding: 5px 10px;
    color: #122A57;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;

}

.item-servico p {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

.item-servico img {
    width: 90%;
    margin: auto;
}

#planos {
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
}

#planos h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.list-planos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.item-planos {
    flex: 1;
    border: 5px solid #122A57;
    border-radius: 5px;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;



}

.item-planos .btn {
    margin: auto;
    margin-bottom: 20px;


}

.item-planos h3 {
    display: flex;
    font-size: 24px;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-planos h3::after {
    content: "";
    background-color: #122A57;
    width: 100%;
    height: 2px;
    margin: 20px 0;

}

.item-planos ul {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-bottom: 10px;

}

.item-planos ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 5px;

}

.item-planos ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: #122A57;
    margin-right: 10px;
}

/* #plan3 {
    height: 50%vh;
} */

footer {
    background-color: #122A57;
    height: 70px;
    display: flex;
    align-items: center;
}

.footer {
    justify-content: space-between;
    color: #fff;
}

/* mobile */

@media (max-width: 992px) {
    .flex-container {
        flex-direction: column;
        margin: 10px 10px;
    }

    .apresentacao {
        flex-direction: column-reverse;

    }

    .texto-apresentacao {
        width: 100%;
    }

    #quem-somos {
        flex-direction: column-reverse;
    }

    #quem-somos img {
        min-width: 320px;
        margin: auto;
    }

    .list-servicos {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .item-servico img {
        width: 50%;
        margin: auto;
    }

    #planos{
        align-items: center;
    }
    .list-planos {
        flex-direction: column;
        align-items: center;
        margin: auto;


    }

    .item-planos {
        max-width: 90%;
        margin: 10px 10px;
        width: 100%;

    }
}